@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Condensed");
@import url("https://unpkg.com/leaflet@1.3.1/dist/leaflet.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

#title {
  top: 15em;
  left: 2em;
  position: fixed;
  z-index: 1000;
}

#logo {
  top: 5em;
  left: 2em;
  position: fixed;
  z-index: 1000;
}

.log {
  max-height: 10em;
  max-width: 20em;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(45, 57, 62, 0.466);
  font-family: "Roboto Condensed";
  color: rgb(180, 180, 180);
  font-size: 1em;
  line-height: 1em;
  z-index: 999;
  -webkit-box-shadow: 0em 0em 0.5em 0.5em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0em 0em 0.5em 0.5em rgba(0, 0, 0, 0.5);
  box-shadow: 0em 0em 2em 1em rgba(0, 0, 0, 0.5);
  padding: 0.5em;

  margin-bottom: 5em;
}
.log a:link {
  color: #ed5066;
}

.log a:visited {
  color: #ed5066;
}

h1 {
  font-family: "Press Start 2P";
  color: #ed5066;
  text-shadow: 1em 1em 2em #000000;
  font-size: 3em;
  line-height: 2.5em;
  cursor: text;
}

h2 {
  font-family: "Roboto Condensed";
  color: rgb(134, 147, 151);
  text-shadow: 1em 1em 1em #000000;
  font-size: 1.2em;
}

h2 a:link,
:visited {
  /* color: rgb(99, 125, 134); */
  color: rgb(134, 147, 151);
}

h2 :hover {
  color: #ed5066 !important;
}

body {
  color: white;
  background-color: #2d393e;
}

/* MODAL  */

.modal-lg {
  margin: auto !important;
  padding: 0% !important;
  max-width: 80% !important;
  max-height: 90% !important;
}

/* https://gist.github.com/AnnoyingTechnology/191e888988242371699fb7870f0e379e */
body.modal-open > :not(.modal) {
  -webkit-filter: blur(1em);
  -moz-filter: blur(1em);
  -o-filter: blur(1em);
  -ms-filter: blur(1em);
  filter: blur(1em);
}

.modal-content {
  background-color: #1f3f4783 !important;
}
.close {
  text-align: right;
  color: rgb(204, 204, 204);
  font-size: 5em;
}

.tableNameDiv {
  font-family: "Press Start 2P";
  color: rgb(218, 218, 218);
  font-size: 3em;
  z-index: 999;
}

.deleteDiv {
  margin: 1em;
  font-family: "Press Start 2P";
  font-size: 1em;
}
.inputDiv {
  font-family: "Roboto Condensed";
  font-size: 1em;
}

input,
textarea,
button:focus {
  outline: 0;
}

input[type="text"],
select,
textarea {
  border: 1px solid rgb(204, 204, 204);
  margin-top: 1em;
  background-color: #0c181b83;
  font-size: 0.8em;
  color: rgb(204, 204, 204);
  border-radius: 0.5em;
  box-sizing: border-box;
  resize: both;
}

textarea {
  width: 50%;
}

.responseDiv {
  width: 50%;
  margin-top: 1em;
  color: rgb(204, 204, 204);
  padding: 1em;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 0.5em;
  font-family: "Press Start 2P";
  font-size: 0.2em;
}

button {
  background-color: #ed5066;
  color: rgb(0, 0, 0);
  margin: 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: "Press Start 2P";
  font-size: 0.2em;
}

button:hover {
  background-color: #ed506577;
}

.deleteDiv a {
  color: #ed5066;
}

.tableHeaderDiv {
  font-family: "Roboto Condensed";
  color: rgb(173, 184, 187);
  width: 100%;
  height: 50%;
  left: 0% !important;
  -webkit-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 5em;
  background-color: rgb(28, 36, 39);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(141, 141, 141, 0);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: rgb(138, 138, 138);
}

/* leaflet map design */

.leaflet-popup-content-wrapper {
  font-family: "Roboto Condensed";
  background: #2d393e;
  color: #ed5066;
  font-size: 1em;
  line-height: 2em;
}

.leaflet-popup-tip {
  background: #2d393e;
}

#map {
  height: 100%;
}

.leaflet-container {
  background-color: rgb(28, 36, 39);
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  opacity: 0;
  border: none;
}

pre {
  color: rgb(130, 145, 153);
}
.string {
  color: rgb(150, 150, 150);
}
.number {
  color: #ed5066;
}
.boolean {
  color: rgb(180, 159, 128);
}
.null {
  color: #722a34;
}
.key {
  color: rgb(221, 221, 221);
}
